<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>company coupon system</title>

<script>


function openTab(evt, cityName) {
	
	angular.element(document.getElementById('span')).scope().clearAll();

	// Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    
}
function newTab(){openTab(onclick, "companyLogin")}
</script>


<script src="js/angular.min.js"></script>


<style>
td#t01{padding: 30px}
</style>
</head>
<body onload="newTab()">
<script src="js/cp.js"></script>

<div ng-app="myApp" ng-controller="myCtrl" id="span">
<table>
	<tr><h3 align="center">company coupon system</h3></tr>
	<tr>
		
		<td valign="top">
			<ul class="tab">
 				<li><a href="#" class="tablinks" onclick="openTab(event, 'companyLogin')">login/logout</a></li><br>
 				<br>
 				<li><a href="#" class="tablinks" onclick="openTab(event, 'addCoupon')">create new coupon</a></li><br>
 				<li><a href="#" class="tablinks" onclick="openTab(event, 'getCoupon')">get/update/delete coupon</a></li><br>
			</ul>
			<ul>
				<a href="customer.html">customer system</a><br>
				<a href="index.html">admin system</a>
			</ul>
		</td>
		
		<td id="t01">
		
			<div id="companyLogin" class="tabcontent">
 			 	<h4>login</h4>
 			 	username<br>
  				<input type="text" ng-model="companyuser.login" placeholder="login" value={{companyuser.login}}><br>
  				password<br>
  				<input type="password" placeholder="password" ng-model="companyuser.password" value={{companyuser.password}}><br><br>
  				<input type="submit" value="login" ng-click="companylogin()">
				<input type="submit" value="logout" ng-click="companylogout()">
			</div>
			
			<div id="addCoupon" class="tabcontent">
  				<h4>create coupon</h4>
			<table >
			<td valign="top">
  				title<br>
  				<input type="text" placeholder="title" ng-model="newcoupon.title"><br>
  				starting date<br>
  				<input type="date" placeholder="start date" ng-model="newcoupon.startDate"><br>
  				expiration date<br>
  				<input type="date" placeholder="end date" ng-model="newcoupon.endDate"><br>
  				amount to create<br>
  				<input type="number" placeholder="amount" ng-model="newcoupon.amount">
  			</td>
  			<td valign="top">
  				type(enum)<br>
  						<select name="sel" ng-model="newcoupon.type" placeholder="type">
      						<option value="RESTAURANTS">RESTAURANTS</option>
      						<option value="ELECTRICITY">ELECTRICITY</option>
      						<option value="FOOD">FOOD</option>
      						<option value="HEALTH">HEALTH</option>
      						<option value="SPORTS">SPORTS</option>
      						<option value="CAMPING">CAMPING</option>
      						<option value="TRAVELLING">TRAVELLING</option>
      						<option value="HOTELS">HOTELS</option>
      						<option value="CAR_SERVICES">CAR_SERVICES</option>
      						<option value="REPAIRS">REPAIRS</option>
      						<option value="SOFTWARE">SOFTWARE</option>
      						<option value="HARDWARE">HARDWARE</option>
      						<option value="OTHER">OTHER</option>
    					</select>
    			<br>
  				message<br>
  				<input type="text" placeholder="message" ng-model="newcoupon.message"><br>
  				price<br>
  				<input type="number" placeholder="price" ng-model="newcoupon.price"><br>
  				image<br>
  				<input type="text" placeholder="image" ng-model="newcoupon.image"><br><br>
  				<input type="submit" value="create coupon" ng-click="createCoupon()">
  			</td>
			</table>
			</div>
			
			
			<div id="getCoupon" class="tabcontent">
  				<h4>get/update/remove coupon</h4>
			<table >
			<td valign="top">
  				id<br>
  				<input type="number" placeholder="ID" ng-model="getcoupon.id"><br>
  				title<br>
  				<input type="text" placeholder="title" ng-model="getcoupon.title" disabled="disabled"><br>
  				starting date<br>
  				<input type="date" value="getcoupon.startDate" ng-model="getcoupon.startDate" disabled="disabled"><br>
  				expiration date<br>
  				<input type="date" value="getcoupon.endDate" ng-model="getcoupon.endDate" ><br>
  				amount to create<br>
  				<input type="number" placeholder="amount" ng-model="getcoupon.amount" disabled="disabled">
  			</td>
  			<td valign="top">
  				type(enum)<br>
  				<input type="text" placeholder="type" ng-model="getcoupon.type" disabled="disabled"><br>
    			<br>
  				message<br>
  				<input type="text" placeholder="message" ng-model="getcoupon.message" disabled="disabled"><br>
  				price<br>
  				<input type="number" placeholder="price" ng-model="getcoupon.price" ><br>
  				image<br>
  				<input type="text" placeholder="image" ng-model="getcoupon.image" disabled="disabled"><br><br>
  				<input type="submit" value="get coupon#{{getcoupon.id}}" ng-click="getCoupon()">
  				<input type="submit" value="update coupon#{{getcoupon.id}}" ng-click="updateCoupon()">
  				<input type="submit" value="delete coupon#{{getcoupon.id}}" ng-click="deleteCoupon()">
  			</td>
			</table>
			</div>
			
			
		</td>
		
		
		<td id="t01" valign="top">
				<h4>system message:</h4>
				<div style="color:blue;" data-ng-bind="infoMessage">general information</div>
				<div style="color:red;" data-ng-bind="errorMessage">error messages</div>
		</td>

	</tr>
</table>

	
<table >
	<td rowspan="100" valign="top">
	<input type="submit" value="getAllCompanyCoupons" ng-click="getAllCompanyCoupons()" id="companyCoupons"><br>
	get coupons by type<br>
	 <form name="myForm">
		<select name="sel" ng-model="companyCouponsByType.ctype" ng-mouseup="getCompanyCouponsByType()" id="companyCouponsByType">
      	<option value="RESTAURANTS">RESTAURANTS</option>
      	<option value="ELECTRICITY">ELECTRICITY</option>
      	<option value="FOOD">FOOD</option>
      	<option value="HEALTH">HEALTH</option>
      	<option value="SPORTS">SPORTS</option>
      	<option value="CAMPING">CAMPING</option>
      	<option value="TRAVELLING">TRAVELLING</option>
      	<option value="HOTELS">HOTELS</option>
      	<option value="CAR_SERVICES">CAR_SERVICES</option>
      	<option value="REPAIRS">REPAIRS</option>
      	<option value="SOFTWARE">SOFTWARE</option>
      	<option value="HARDWARE">HARDWARE</option>
      	<option value="OTHER">OTHER</option>
    	</select><br>
	</form>
	get coupons by price<br>
	(ng-mouseup)<br>
	<input type="number" ng-model="compCPrice.price" placeholder="price" value={{companycouponByPrice.price}} ng-mouseup="getComanyCouponByPrice()"><br>
  	<input type="submit" value="companyCouponByPrice" ng-click="getComanyCouponByPrice()" id="comanyCouponByPrice">
	<br>
	date(ng-mouseup)<br>
	<input name="date1" type="date" value="cdate" ng-model="cdate" ng-mouseup="getCompanyCouponsByDate()" id="companyCouponsByDate">
	<br><br>
	<input type="submit" value="clear" ng-click="clearCompanySheet()" id="clearsheet"><br>
	</td>
	<td valign="top">
	<table border="1px">
	<tr data-ng-repeat="rec in companyCoupons">
		<td>{{rec.id}}</td>
		<td>{{rec.title}}</td>
		<td>{{rec.startDate}}</td>
		<td>{{rec.endDate}}</td>
		<td>{{rec.amount}}</td>
		<td>{{rec.type}}</td>
		<td>{{rec.message}}</td>
		<td>{{rec.price}}</td>
		<td>{{rec.image}}</td>
	</tr>
	<tr data-ng-repeat="rec in companyCouponsByType">
		<td>{{rec.id}}</td>
		<td>{{rec.title}}</td>
		<td>{{rec.startDate}}</td>
		<td>{{rec.endDate}}</td>
		<td>{{rec.amount}}</td>
		<td>{{rec.type}}</td>
		<td>{{rec.message}}</td>
		<td>{{rec.price}}</td>
		<td>{{rec.image}}</td>
	</tr>
	<tr data-ng-repeat="rec in comanyCouponByPrice">
		<td>{{rec.id}}</td>
		<td>{{rec.title}}</td>
		<td>{{rec.startDate}}</td>
		<td>{{rec.endDate}}</td>
		<td>{{rec.amount}}</td>
		<td>{{rec.type}}</td>
		<td>{{rec.message}}</td>
		<td>{{rec.price}}</td>
		<td>{{rec.image}}</td>
	</tr>
		<tr data-ng-repeat="rec in companyCouponsByDate">
		<td>{{rec.id}}</td>
		<td>{{rec.title}}</td>
		<td>{{rec.startDate}}</td>
		<td>{{rec.endDate}}</td>
		<td>{{rec.amount}}</td>
		<td>{{rec.type}}</td>
		<td>{{rec.message}}</td>
		<td>{{rec.price}}</td>
		<td>{{rec.image}}</td>
	</tr>
	</table>
	
	</td>
</table>
</div>

</body>
</html>